# Ignore local dependency installs
node_modules/

# Optional environment files
.env*

# Build and cache
/.next/
/out/
/build
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
